<div class="container" style="background-color:powderblue;">
    <%= render 'form' %>
</div>

<div class="container bg-info">
    <% if @message1.length > 0 %>
        <h6>Word - Syllable Count <br>
        (<%= @message1 %>)</h6>
        <% @syllables.each do |key, value| %>
            <span class="text-white"><%= "#{key}" %> - <%= "#{value}" %></span>
        <% end %>
    <% end %>
</div>